/* Global Styles */
* {
  font-family: 'Spartan', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {}

body {
  background-image: url(../images/bg-pattern-top-desktop.svg) top right no-repeat;
  font-size: 15px;
  line-height: 1.5rem;
  color: #511f50;
  /* fallback color */
  color: hsl(300, 43%, 22%);
  text-align: left;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

.container {
  padding: 8% 8%;
}

/* Title Area */
.description {
  max-width: 430px;
}

/* Ratings */
.rating-box {
  background-color: #f7f2f8;
  /* fallback color*/
  background-color: hsl(303, 24%, 96%);
  color: #511f50;
  /* fallback color */
  color: hsl(300, 43%, 22%);
  font-size: .85rem;
  font-weight: 700;
  border-radius: 10px;
  margin: 1.5% 0;
  padding: 20px 40px;
  width: 80%;
  min-width: 316px;
}

.rating-box1 {
  align-self: flex-start;
}

.rating-box2 {
  align-self: center;
}

.rating-box3 {
  align-self: flex-end;
}

.star-group {
  margin-right: 8%;
  float: left;
  max-width: 115px;
}

/* Quote Boxes */
.all-quotes {
  margin-top: 5%;
}

.quote-box {
  background-color: #511f50;
  /* fallback color */
  background-color: hsl(300, 43%, 22%);
  padding: 10%;
  border-radius: 10px;
  min-width: 255px;
}

.middle-card {
  margin-top: 5%;
}

.right-card {
  margin-top: 10%;
}

.card-header {
  padding: 0 0 1.5rem 0;
}

.identity {
  padding: 8px 0 0 0;
  line-height: .5rem;
}

.portrait {
  border-radius: 100%;
  float: left;
  margin-right: 20px;
  width: 42px;
}

.person {
  color: #fff;
  /* fallback color */
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}

.verified {
  color: #ab2260;
  /* fallback color */
  color: hsl(333, 80%, 67%);
}

.quote {
  color: #fff;
  /* fallback color */
  color: hsl(0, 0%, 100%);
  margin-bottom: 0;
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e4870;
  /* Fallback color */
  color: hsl(228, 45%, 44%);
}

/* Media Queries */
/* @media (min-width: 1200px) {

} */
@media (max-width: 540px) {
  h1, .description {
    text-align: center;
    align-items: center;
  }

  .rating-box {
    text-align: center;
    align-items: center;
  }

  .rating-box1, .rating-box2, .rating-box3 {
    align-self: center;
  }

  .star-group {
    float: inherit;
    text-align: center;
    align-self: center;
  }
}
